/* Basic styles for your website */
body {
    font-family: Andale Mono,AndaleMono,monospace;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

main {
    padding: 20px;
}

h2 {
    color: #000000;
}

.adsense {
    background-color: #000000;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
